.award-item{
  position: relative;
  .border-radius(10);
  .width(630);
  .height(102);
  background-color: rgba(2,131,220,0.7);
  color: white;
  .font-size(24);
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  &-award{
    .width(170);
    .line-height(40);
  }

  &-reason{
    .width(170);
    .line-height(40);
  }

  &-status{
    .width(170);
  }
}
