.marquee-pause-container {
  .width(444);
  .height(38);
  .border-radius(19);
  overflow: hidden;
  background-color: rgba(255,255,255,.64);

  .text{
    .width(434);
    .height(38);
    .font-size(22);
    color: #FE7F7D;
    .line-height(40);
    .row-over-ellipsis;

    .name{
      color: #999999;
    }
  }
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.5s linear;
}
.slide-leave-to {
  transform: translateY(-20px);
}
.slide-enter{
  transform: translateY(20px);
}
