.msg-box-intro{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-wrapper{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .background-style;
    .width(566);
    .height(829);

    &-title{
      color: #0761A8;
      font-weight: 500;
      .font-size(28);
    }

    &-marquee{
      .background-style;
      .width(454);
      .height(255);
      .margin(10,0);
      .padding(24);

      .hidden-wrapper{
        overflow: hidden;
      }

      .marquee-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        &-animation{
          animation: myMove 5s linear infinite;
          animation-fill-mode: forwards;
        }

        img{
          flex: none;
          .margin(11,0,11,16);
          .width(179);
          .height(179);
        }
      }
    }

    &-intro{
      position: relative;
      .width(499);
      .height(293);
      overflow: hidden;
      background-color: #3AA1EE8C;
      .border-top-left-radius(10);
      .border-top-right-radius(10);
      .padding(10,0,0,5);

      .intro-item{
        .margin(10);
        .width(453);
        .background-style;
        .border-radius(10);
        .padding(12);

        &-title{
          .font-size(26);
          color: #FFF29C;
          font-weight: 500;
          .margin-bottom(5);
        }

        &-dec{
          .margin-bottom(12);
          .font-size(24);
          line-height: 1.2;
          color: white;
          text-align: justify;
          word-wrap: break-word;
        }
      }
    }

    &-btn{
      .margin-top(23);
      .background-style;
      .width(357);
      .height(81);
    }
  }

  .bscroll-vertical-scrollbar{
    width: 4px !important;
    overflow: visible !important;
    background-color: #2E8ACF !important;
    right: 6px !important;
    border-radius: 2px !important;
  }

  .bscroll-indicator{
    background-color: #329DED !important;
    width: 200% !important;
    margin-left: -50% !important;
    border: none !important;
  }
}
