#home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  .background-style;
  .padding-bottom(45);

  .marquee-pause{
    position: absolute;
    .top(4);
    .right(-10);
  }

  .my-award-btn{
    position: absolute;
    .width(184);
    .height(65);
    .top(54);
    right: 0;
    .background-style;

    .award-label{
      position: absolute;
      .left(40);
      .width(22);
      .height(22);
      background-color: #D53C30;
      color: white;
      .font-size(25);
      border-radius: 50%;
    }

    .award-big-label{
      position: absolute;
      .left(40);
      .width(22);
      .height(22);
      border-radius: 50%;
    }
  }

  .titleImg{
    .width(683);
    .height(149);
    .margin-top(146);
  }

  .gift{
    .width(577);
    .height(369);

    .text{
      .width(420);
      .height(110);
      .font-size(24);
      .line-height(37);
      color: #46A4F5;
      margin: auto;
    }

    .more{
      display: block;
      .width(150);
      .height(40);
      .line-height(40);
      margin: auto;
      .font-size(26);
      font-weight: 900;
      color: #0097FA;
    }
  }

  .btn-start-game{
    margin: auto;
    .margin-top(175);
    .width(622);
    .height(92);
    .background-style;
  }

  .btn-draw{
    display: inline-block;
    .margin-top(35);
    .margin-right(20);
    .width(287);
    .height(91);
    .background-style;
  }

  .btn-Rank{
    display: inline-block;
    .margin-top(35);
    .width(287);
    .height(91);
    .background-style;
  }

  .rule{
    display: block;
    margin: auto;
    .margin-top(25);
    .width(701);
    .height(1362);
  }
}

#game{
  position: relative;
  width: 100%;
  min-height: 100vh;
  .background-style;
  .padding-top(70);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .marquee-pause{
    position: absolute;
    .top(4);
    .right(-10);
  }

  .title{
    .background-style;
    .width(398);
    .height(96);
    flex: none;
    color: white;
    .font-size(48);
    font-weight: 900;
    .padding-top(15);
  }

  .time-container{
    position: relative;
    .background-style;
    .width(641);
    .height(168);
    flex: none;

    &-time{
      color: #FFE9E1;
      .font-size(42);
      font-weight: 600;
      .margin-top(25);
    }

    .progress-wrapper{
      .width(345);
      .height(32);
      overflow: hidden;
      position: absolute;
      .left(155);
      .top(80);
    }

    &-progress{
      .width(322);
      position: absolute;
      .top(3);
      .left(20);
    }

    .pause {
      animation-play-state: paused;
    }

    .animate{
      animation: progressMove 30s 1 linear;
    }

    &-clock{
      .width(55);
      position: absolute;
      .left(147);
      .top(58);
    }
  }

  .game-container{
    .background-style;
    .width(727);
    .height(890);
    flex: none;
    .padding(124,78,195,78);
    display: flex;
    flex-wrap: wrap;

    &-card-level1{
      .width(167);
      .height(167);
      .margin(11);
      flex: none;
    }

    &-card-level2{
      .width(128);
      .height(128);
      .margin(7);
      flex: none;
    }

    &-card-level3{
      .width(102);
      .height(102);
      .margin(6);
      flex: none;
    }
  }
}

#rank{
  position: relative;
  width: 100%;
  min-height: 100vh;
  .background-style;
  .padding-bottom(20);

  .rank-title{
    .width(550);
    .height(209);
    .margin-top(19);
  }

  .rank-explain{
    .width(701);
    .height(731);
    .margin-bottom(-20);
  }

  .rank-self{
    .background-style;
    .width(694);
    .height(260);
    margin: auto;
    .padding(20,0,40,0);

    &-title{
      color: #FFE04E;
      .font-size(28);
      font-weight: 500;
      .margin-top(40);
      .margin-bottom(40);
    }

    &-content{
      .center();
      .padding(20,0);
      .border-radius(10);
      .width(579);
      .height(70);
      background-color: rgba(2,131,220,0.7);
      color: white;
      .font-size(32);
      font-weight: 600;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      div{
        .width(120);
      }
    }
  }

  .rank-all{
    .background-style;
    .width(705);
    .height(868);
    margin: auto;
    .padding(40,40,80,20);

    &-title{
      .width(579);
      .height(51);
      .padding(0,30);
      .center();
      .margin-top(20);
      color: #FFE04E;
      .font-size(26);
      font-weight: 600;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &-wrapper{
      position: relative;
      .height(600);
      overflow: auto;
      // -webkit-overflow-scrolling : touch;

    &::-webkit-scrollbar {/*滚动条整体样式*/
        .width(20);     /*高宽分别对应横竖滚动条的尺寸*/
        .height(20);
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        .border-radius(10);
        background: #3EB8FF;
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
        .border-radius(10);
        background: #0682D7;
    }

      &-rank-item{
        .center();
        .margin-top(10);
      }

      .bscroll-vertical-scrollbar{
        width: 4px !important;
        overflow: visible !important;
        background-color: #087FD1 !important;
        right: 6px !important;
        border-radius: 2px !important;
      }

      .bscroll-indicator{
        background-color: #51B8FC !important;
        width: 200% !important;
        margin-left: -50% !important;
        border: none !important;
      }
    }
  }
}

#award{
  position: relative;
  width: 100%;
  min-height: 100vh;
  .background-style;
  .padding-bottom(20);

  .award-title{
    .width(400);
    .height(126);
    .margin(40,0,-40,0);
  }

  .award-status{
    .background-style;
    .width(717);
    .height(867);
    .center();
    .padding(30,20,0,0);

    &-title{
      .width(630);
      .height(51);
      .center();
      .margin-top(20);
      color: #FFE04E;
      .font-size(26);
      font-weight: 600;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      &-award{
        .width(170);
      }

      &-reason{
        .width(170);
        .line-height(40);
      }
      
      &-status{
        .width(170);
      }
    }

    &-wrapper{
      position: relative;
      .height(690);
      overflow: auto;
      // -webkit-overflow-scrolling : touch;

      &::-webkit-scrollbar {/*滚动条整体样式*/
        .width(20);     /*高宽分别对应横竖滚动条的尺寸*/
        .height(20);
      }
      &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
          .border-radius(10);
          background: #3EB8FF;
      }
      &::-webkit-scrollbar-track {/*滚动条里面轨道*/
          .border-radius(10);
          background: #0682D7;
      }

      &-status-item{
        .margin-left(40);
        .margin-top(12);
      }

      .bscroll-vertical-scrollbar{
        width: 4px !important;
        overflow: visible !important;
        background-color: #087FD1 !important;
        right: 6px !important;
        border-radius: 2px !important;
      }

      .bscroll-indicator{
        background-color: #51B8FC !important;
        width: 200% !important;
        margin-left: -50% !important;
        border: none !important;
      }
    }
  }

  .award-btn{
    .width(462);
    .margin-top(20);
    .margin-bottom(30);
  }

  .award-rule{
    .width(739);
    .height(1089);
  }
}

#draw{
  position: relative;
  width: 100%;
  min-height: 100vh;
  .background-style;

  .marquee-pause{
    position: absolute;
    .top(4);
    .right(-10);
  }

  .my-award-btn{
    position: absolute;
    .width(184);
    .height(65);
    .top(54);
    right: 0;
    .background-style;

    .award-label{
      position: absolute;
      .left(40);
      .width(22);
      .height(22);
      background-color: #D53C30;
      color: white;
      .font-size(25);
      border-radius: 50%;
    }

    .award-big-label{
      position: absolute;
      .left(40);
      .width(22);
      .height(22);
      border-radius: 50%;
    }
  }

  .draw-title{
    .margin-top(60);
    .margin-bottom(-60);
    .margin-left(-20);
    .width(770);
  }

  .draw-award{
    .width(474);
  }

  .draw-btn{
    .margin-top(400);
    .width(477);
  }
}


@keyframes progressMove {
  from {
    .left(20);
  }
  to {
    .left(-280);
  }
}