@barBgColor: #D8EBFE; // loading条背景色
@progressBgColor: #4594FC; // 进度条背景色
@loadingIndex: 10000; // loading页zindex层级
@loadingTextColor: #5D5D5D; // loading页文字颜色
.loading {
    .fixedCover;
    z-index: @loadingIndex;
    background-color: #fff;
    display: flex;
    &_container {
      margin: auto;
    }
    &_img {
        display: block;
        margin: 0 auto;
        .width(138);
        .margin-bottom(50);
    }
    &_bar {
        margin: .15rem auto;
        position: relative;
        .width(442);
        .height(18);
        .border-radius(9);
        // .border(2;solid;@progressBgColor);
        background-color: #D8EBFE;
        overflow: hidden;
    }
    &_progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: @progressBgColor;
        z-index: 10;
        transition: width ease-out .3s;
    }
    &_text {
        color: @loadingTextColor;
        font-size: .14rem;
        text-align: center;
    }
  }
