*, :after, :before {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  }
  *::-webkit-scrollbar {
	// display: none;
  }

  *{
    box-sizing: border-box;
  }

  blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, p, td, textarea, th, ul {
	margin: 0;
	padding: 0;
  }

  table {
	border-collapse: collapse;
	border-spacing: 0
  }

  fieldset, img {
	border: 0
  }

  ul > li {
	list-style: none
  }

  caption, th {
	text-align: left
  }

  q:after, q:before {
	content: ""
  }

  input:password {
	ime-mode: disabled
  }

  :focus {
	outline: none
  }

  body, html {
	min-height: 100%
  }

  body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
  }

  a, img {
	-webkit-touch-callout: none
  }

  body, button, input, select, textarea {
	font-size: .32rem;
	line-height: 1;
	color: #333;
	font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif
  }

  button{
    //消除button的默认样式
    margin: 0;
    padding: 0;
    border: 1px solid transparent;  //自定义边框
    outline: none;    //消除默认点击蓝色边框效果
    background-color: transparent;
  }

  input {
	  line-height: normal;
    outline: none;
    border: none;
    background-color: transparent;
  }

  a {
	color: #0ae;
	background: transparent;
	text-decoration: none;
	outline: none;
  }

  *[contenteditable] {
	-webkit-user-select: auto !important;
  }

  *:focus {
	outline: none;
  }

