// fixed定位铺满屏幕
.fixedCover {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}
// 单行文字超出显示省略号
.row-over-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//设置背景图样式
.background-style{
  background-size: cover;
  background-repeat: no-repeat;
}
