.toast{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0,0,0,.6);
  color: white;
  .font-size(28);
  text-align: center;
  .border-radius(10);
  .padding(25);
}
