.rank-item{
  position: relative;
  .border-radius(10);
  .width(579);
  .height(50);
  background-color: rgba(2,131,220,0.7);
  color: white;
  .font-size(24);
  font-weight: 600;
  .padding(0,20);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  img{
    position: absolute;
    .width(40);
    .height(53);
    .left(38);
  }

  &-num{
    .width(80);
    .height(50);
    .line-height(50);
  }

  &-username{
    .width(350);
    .height(50);
    .line-height(50);
    .row-over-ellipsis;
  }

  &-result{
    .width(80);
    .height(50);
    .line-height(50);
  }
}
