.card-wrapper{
  perspective: 600px;

  .card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;

    &-front{
      transform: rotateY(180deg);
    }

    &-back{
      transform: rotateY(0deg);
    }

    .cardBack{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      .background-style;
      backface-visibility: hidden;
    }

    .cardFront{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      .background-style;
      transform: rotateY(-180deg);
      backface-visibility: hidden;
    }
  }
}

