<!DOCTYPE html>
<html lang="en">
{% use "pages/home/schemas/config" as schemaConfig %}
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script>
      var globalSchemaData = {{schemaConfig | stringify}};
      var globalEnv = "{{global.env}}";
      /** Object.assign polyfill */
      if(typeof Object.assign!='function'){Object.defineProperty(Object,"assign",{value:function assign(target,varArgs){'use strict';if(target==null){throw new TypeError('Cannot convert undefined or null to object');}var to=Object(target);for(var index=1;index<arguments.length;index++){var nextSource=arguments[index];if(nextSource!=null){for(var nextKey in nextSource){if(Object.prototype.hasOwnProperty.call(nextSource,nextKey)){to[nextKey]=nextSource[nextKey]}}}}return to},writable:true,configurable:true})}
        /** 移动端适配脚本 */
      !function(e){function t(n){if(i[n])return i[n].exports;var r=i[n]={exports:{},id:n,loaded:!1};return e[n].call(r.exports,r,r.exports,t),r.loaded=!0,r.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.vl=function(e,t){var n=e||100,r=t||750,a=i.document,d=navigator.userAgent,o=d.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=d.match(/U3\/((\d+|\.){5,})/i),s=l&&parseInt(l[1].split(".").join(""),10)>=80,u=a.documentElement,c=1;if(o&&o[1]>534||s){u.style.fontSize=n+"px";var p=a.createElement("div");p.setAttribute("style","width: 1rem;display:none"),u.appendChild(p);var m=i.getComputedStyle(p).width;if(u.removeChild(p),m!==u.style.fontSize){var v=parseInt(m,10);c=100/v}}var f=a.querySelector('meta[name="viewport"]');f||(f=a.createElement("meta"),f.setAttribute("name","viewport"),a.head.appendChild(f)),f.setAttribute("content","width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1");var h=function(){u.style.fontSize=n/r*u.clientWidth*c+"px"};h(),i.addEventListener("resize",h)},e.exports=t["default"]}]);
        // 设置基础字体大小及字体缩放比例
        vl(200, 750); // 设计图750px等于代码200px
    </script>
    {% require "pages/home/style.css" %}
</head>
<body>
  {% if global.env == 'editor' %}
    <div style="height: 100vh;"></div>
  {% endif %}
  <div id="app" >
    <transition name="fade">
        <router-view></router-view>
    </transition>
  </div>
  {# 支付宝授权 #}
    {% if schemaConfig.dev.auth.switch %}
      <script src="https://dollarcdn.cdollar.cn/dollar/alipayAuth2.0.js"></script>
      <script>
        fdAlipayAuth.fetchAuthCode({{schemaConfig.dev.auth.appId}})
      </script>
    {% endif %}
  {% require "pages/home/main.js" %}
  {# 友盟统计 #}
    {% if schemaConfig.dev.countSwitch %}
    <script src="https://s19.cnzz.com/z_stat.php?id={{schemaConfig.dev.countId}}&web_id={{schemaConfig.dev.countId}}" language="JavaScript"></script>
    <style>
        a[title="站长统计"] {
            display: none;
        }
    </style>
    {% endif %}
</body>
{% enduse %}
</html>
