@import './style/reset'; // 样式重置
@import './style/px2rem'; // px转rem工具类
@import './style/animate.min.css';
@import './style/tools'; // 其它固定样式
@import './style/loading'; // loading页样式
@import './style/common';
@import './components/styles'; //组件样式
@import './plugins/styles'; //组件样式

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {

  transition: all .1s cubic-bezier(2.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to
{
  opacity: 0;
}
