.msg-box{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .wrapper-normal{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .background-style;
    .width(566);
    .height(509);
    .padding(60,20,20,20);
  }

  .wrapper-short{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    .background-style;
    .width(566);
    .height(385);
  }

  .wrapper-paper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    .background-style;
    .width(604);
    .height(505);
    .padding-bottom(20);
  }

  .btn-close{
    .background-style;
    position: absolute;
    .width(53);
    .height(53);
    .right(-5);
    .top(-30);
  }

  .title{
    .background-style;
    position: absolute;
    .top(-40);
    left: 50%;
    .margin-left(-193);
    .width(386);
    .height(102);
    .font-size(36);
    color: white;
    font-weight: 900;
    .padding-top(22);
  }

  .msg-confirm-btn-cancel{
    .width(205);
  }

  .msg-confirm-btn-confirm{
    .width(205);
  }

  .btn-confirm{
    .background-style;
    .width(381);
    .height(81);
    .font-size(32);
    color: white;
    font-weight: 900;
    .padding-top(20);
  }

  .draw-tips-container{

    &-text{
      .font-size(28);
      color: #27629A;
      font-weight: 500;
      .margin-bottom(18);
    }

    &-gift-text{
      .font-size(26);
      color: #1583D9;
      .margin-bottom(19);
    }

    &-gift{
      .background-style;
      .width(281);
      .height(156);
    }
  }

  .draw-entry-disable-container{

    &-text{
      .font-size(32);
      color: #27629A;
      font-weight: 900;
      .margin-bottom(21);
    }

    &-tiny-text{
      .font-size(26);
      color: #27629A;
      .margin-bottom(58);
    }
  }

  .phone-input-container{
    position: relative;

    &-text{
      .font-size(32);
      color: #27629A;
      font-weight: 900;
      .margin-bottom(28);
    }

    input::-webkit-input-placeholder {
      color: #A2A2A2;
      .font-size(26);
    }

    &-input{
      text-align: center;
      .background-style;
      .width(420);
      .height(78);
      .font-size(36);
      .margin-bottom(42);
      color: #27629A;
    }

    &-tips{
      text-align: center;
      position: absolute;
      .font-size(22);
      .bottom(10);
      color: #27629A;
      width: 100%;
    }
  }

  .game-lose-container{

    img{
      .background-style;
      .width(166);
      .height(167);
    }
  }

  .game-win-container{

    img{
      .background-style;
      .width(434);
      .height(163);
    }
  }

  .game-record-container{
    .margin-top(20);

    &-h1{
      .font-size(26);
      color: #27629A;
      font-weight: 600;
      .margin-bottom(10);
    }

    &-time{
      position: relative;
      .font-size(72);
      color: #1583D9;
      font-weight: 500;
      .margin-bottom(5);

      .new-label{
        position: absolute;
        .top(-20);
        .right(10);
        .background-style;
        .width(65);
        .height(38);
      }
    }

    &-h2{
      .font-size(24);
      color: #1583D9;
      font-weight: 600;
      .margin-bottom(13);
    }

    &-h3{
      .font-size(20);
      color: #27629A;
      opacity: .66;
      .margin-bottom(10);
    }
  }

  .draw-award-container{

    &-text{
      .font-size(28);
      color: #27629A;
      font-weight: 500;
      .margin-bottom(10);
    }

    &-gift-text{
      .font-size(26);
      color: #1583D9;
      .margin-bottom(10);
    }

    &-gift{
      .background-style;
      .width(281);
      .height(156);
    }
  }

  .draw-award-title{
    color: white;
    .font-size(42);
    font-weight: 900;
    .margin-bottom(43);
  }

  .draw-text-container{
    .margin-top(70);
    .margin-bottom(70);

    &-text{
      .font-size(32);
      color: #27629A;
      font-weight: 900;
    }
  }
}
